@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap");

/* typography */
h1,
h2 {
  font-family: "Texturina", serif;
  text-align: center;
}

p {
  line-height: 1.5em;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  color: seagreen;
}

.highlight {
  border-top: 2px dotted seagreen;
}

/* content */

table {
  border: 2px seagreen solid;
  width: 100%;
}

td {
  padding: 20px;
  width: 24%;
  letter-spacing: 0.3em;
}

li {
  list-style: none;
}

.container {
  margin: 5% 33%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  text-align: center;
}